@charset "utf-8";
/* CSS Document */

canvas {
	cursor:default;
}
#spiel{
	background-image:url(../images/LevelBg1.png);
	position:absolute;
	z-index:auto;
	width:800px;
	height:600px;
	/*display:none;*/
	display:block;
}
#intro{
	width:800px;
	height:600px;
	display:none;
    /*display:block;*/
}
#seq_geg_1{
	width:800px;
	height:600px;
    display:none;
}
#gameEnde{
	width:800px;
	height:600px;
    display:none;
	background-image:url(../images/bg_ende.png);
}
#endeButton{
	background-color:transparent;
	background-image:url(../images/speichern_button.png);
	width:228px;
	height:58px;
	top:260px;
	left:190px;
	position:relative;
	border:none;
}
#endeText{
	border:3px; 
	border-color:#0F9;
	height:200px;
	width:700px;
	font-size:30px;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	position:relative;
	top:190px;
	left:35px;	
}